<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
    </sectionGroup>
  </configSections>
  <spring>
    <context>
      <resource uri="config://spring/objects"/>
    </context>
    <objects xmlns="http://www.springframework.net">

      <!-- Services -->
      <object name="DbService" type="VROUI.Services.DbService, VROUI" init-method="Initialize">
        <property name="Server" value="guraud"/>
        <property name="Port" value="1521"/>
        <property name="Sid" value="dkorcl"/>
        <property name="UserId" value="vro_2018"/>
        <property name="Password" value="vro_2018"/>
        <property name="MaxPoolSize" value="50"/>
        <property name="ConnectionTimeout" value="30"/>
      </object>

      <object name="BizService" type="VROUI.Services.BizService, VROUI" init-method="Initialize">
      </object>

    </objects>
  </spring>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
