<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
    </sectionGroup>
  </configSections>
  <spring>
    <context>
      <resource uri="config://spring/objects"/>
    </context>
    <objects xmlns="http://www.springframework.net">

      <!-- Services -->
      <object name="DbService" type="TMSUI.Services.DbService, TMSUI" init-method="Initialize">
        <property name="Server" value="192.168.0.159"/>
        <property name="Port" value="1522"/>
        <property name="Sid" value="dkorcl"/>
        <property name="UserId" value="CJTEST"/>
        <property name="Password" value="CJTEST"/>
        <property name="MaxPoolSize" value="50"/>
        <property name="ConnectionTimeout" value="30"/>
      </object>

      <!--
      <object name="DbService" type="TMSUI.Services.DbService, TMSUI" init-method="Initialize">
        <property name="Server" value="localhost"/>
        <property name="Port" value="1522"/>
        <property name="Sid" value="dkorcl"/>
        <property name="UserId" value="CJSCHMGR"/>
        <property name="Password" value="CJSCHMGR"/>
        <property name="MaxPoolSize" value="50"/>
        <property name="ConnectionTimeout" value="30"/>
      </object>
      -->

      <!--<object name="DbService" type="TMSUI.Services.DbService, TMSUI" init-method="Initialize">
        <property name="Server" value="112.216.126.46"/>
        <property name="Port" value="1521"/>
        <property name="Sid" value="ORAUTECH"/>
        <property name="UserId" value="cjschmgr"/>
        <property name="Password" value="cjschmgr"/>
        <property name="MaxPoolSize" value="50"/>
        <property name="ConnectionTimeout" value="30"/>
      </object>-->
      
      <object name="BizService" type="TMSUI.Services.BizService, TMSUI" init-method="Initialize">
      </object>

    </objects>
  </spring>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
